.line-mlchange{
  position: absolute;
    width: 100px;
    margin-top: 83px;
    margin-left: 2%;
    height: 0;
    border-bottom: 3px solid #F24F17;
}
input{
  outline: none;
}
.input-account-ml{
  /* position: absolute; */
  width: 100%;
  height: 50px;
  margin-left: 3%;
  box-sizing: border-box;
  border-radius: 5px;
border: 1px solid rgba(31, 31, 31, 0.5);
box-sizing: border-box;
border-radius: 5px;
}
.form-left-ml{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 533px;
    margin-top: 36px;
    width: 100%;
    padding: 0 30% 0 0%;
  }
  .bank-details-input-ml{
    height: 24px;
    margin-left: 3%;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1F1F1F;
    
  }
